/*
Style
*/
.centered{
    float: none;
    margin: 0 auto;
}

#container{
    margin-top: 20px;
    background: #eee;
    border: 1px #f4f7f6 solid;
}

.active{
    stroke: #36383a;
    stroke-width: 2px;
}

.hidden{
    opacity: 0;
}



.btn-circle {
    width: auto;
    height: auto;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.33;
    /*border-radius: 35px;*/
}

   body {
       padding: 1rem;
       color: #36383a;
   }
h1{
    color: #36383a;
    margin-bottom: 2rem;
}
h5{
    margin-top: -20px;
}

section {
    margin-top: -20px;
    display: flex;
    flex-flow: row wrap;
}
section > div {
    flex: 1;
    padding: 0.5rem;
    height:100%;
}
input[type="radio"] {
    display: none;
&:not(:disabled) ~ label {
     cursor: pointer;
 }
&:disabled ~ label {
     color: hsla(150, 5%, 75%, 1);
     border-color: hsla(150, 5%, 75%, 1);
     box-shadow: none;
     cursor: not-allowed;
 }
}
label {
    height: 60%;
    display: block;
    background: white;
    border: 2px solid #49c5b6;
    /*border-radius: 20px;*/
    padding: 1rem;
    margin-bottom: 1rem;
//margin: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
}
input[type="radio"]:checked + label {
    background: #49c5b6;
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #49c5b6;
&::after {
     color: #36383a;
     font-family: FontAwesome;
     border: 2px solid #49c5b6;
     content: "\f00c";
     font-size: 18px;
     position: absolute;
     top: -25px;
     left: 50%;
     transform: translateX(-50%);
     height: 50px;
     width: 50px;
     line-height: 50px;
     text-align: center;
     /*border-radius: 50%;*/
     background: white;
     box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
 }
}
input[type="radio"]#control_05:checked + label {
    background: red;
    border-color: red;
}
p {
    font-weight: 900;
}


@media only screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
}

#controlDiv{
    background-color: #f4f7f6;
}

.btn-custom-action{
    background-color: #49c5b6;
}